<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voetbal PHP CRUD</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body onload="laad()">
<h1>Voetbal</h1>

<!-- Add a combobox to select teams -->
<select id="teamSelect" onchange="toonSpelers()">
    <option value="">Select Team</option>
</select>

<table>
    <thead>
    <tr><th>Naam</th><th>Team</th><th>Land</th><th>Verwijderen</th></tr>
    </thead>
    <tbody id="tabelInhoud"></tbody>
</table>
<script>
    "use strict";
    const apiBasis = "http://127.0.0.1:8000/api/";
    const apiSpelers = apiBasis + "spelers/";
    const apiTeams = apiBasis + "teams/";

    let teams = [];
    let spelers = [];

    const laadTeams = async () => {
        console.log('Laad Hoofdstuk');
        const response = await axios.get(apiTeams);
        const json = await response.data;
        json.forEach(el => {
            teams[el.id] = el.naam;
            // Add teams to the combobox
            document.getElementById('teamSelect').innerHTML += `<option value="${el.id}">${el.naam}</option>`;
        });
    };

    const laadSpelers = async () => {
        console.log('Laad gegevens')
        const response = await axios.get(apiSpelers)
        spelers = await response.data
    }

    const toonSpelers = () => {
        const selectedTeamId = document.getElementById('teamSelect').value;
        let filteredSpelers = spelers;
        if (selectedTeamId) {
            filteredSpelers = spelers.filter(player => player.teamsid == selectedTeamId);
        }
        let tabelInhoud = ''
        filteredSpelers.forEach(el => {
            tabelInhoud += `<tr><td>${el.naam}</td><td>${teams[el.teamsid]}</td><td>${el.nationaliteit}</td><td onclick="verwijder(${el.id})"> x </td></tr>`;
        });
        document.querySelector("#tabelInhoud").innerHTML = tabelInhoud
    }

    const laad = async () => {
        await laadTeams()
        await laadSpelers()
        toonSpelers()
    }

    const verwijder = async (id) => {
        console.log("verwijder: ",id)
        const respons = await axios.delete(apiSpelers+id)
        console.log('status code', respons.status)
        await laadSpelers()
        toonSpelers()
    }

</script>
</body>
</html>
